<h1>Login Credentials</h1>
Hello <%= @user.full_name%>, Please find the login credentials below:
<ul>
	<li><b>Email:</b> <%= @user.email%></li>
	<li><b>Password:</b> <%= @user.default_password%></li>
</ul>
<%= link_to 'Click here to login', root_url %>