<%page_name "XML Files - #{@xml_file.file_name}"%>

<div class="card card-info m-0">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <%= link_to xml_files_path, class: "btn btn-sm btn-info  mb-3 float-right" do %>
          <em class="fas fa-arrow-left"></em> Back
        <%end%>
        <h3><%=@xml_file.file_name%></h3>
      </div>
      <div class="col-12 mb-2">
        <%= render "common/file_header"%>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" style="height: 68vh; overflow: auto; overflow-x:hidden">
            <div class="row">
              <div class="col-12 no-padding" style="width:90%; ">
                <%= render "file"%>                
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
