<div class="modal fade" id="common-modal" tabindex="-1" role="dialog">
 <div class="modal-dialog modal-lg" role="document">
   <div class="modal-content" id="common-modal-content">
     
   </div>
 </div>
</div>
<style>
  @media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
      max-width: 60%; 
/*      margin-top: 8%;*/
    } 
  }
</style>